.asn_shipment_detail.more
  %table
    %thead
      %tr
        %th #{t 'ingram_item_list_price'}
        %th #{t 'net_discounted_price'}
        %th #{t 'ingram_order_entry_number'}
        %th #{t 'isbn_ordered'}
        %th #{t 'isbn_shipped'}
    %tbody
      %tr
        %td #{number_to_currency asn_shipment_detail.ingram_item_list_price}
        %td #{number_to_currency asn_shipment_detail.net_discounted_price}
        %td #{asn_shipment_detail.ingram_order_entry_number}
        %td #{asn_shipment_detail.isbn_10_ordered}
        %td #{asn_shipment_detail.isbn_10_shipped} / #{asn_shipment_detail.isbn_13}
  -#!= data_pair(:line_item) {asn_shipment_detail.line_item.variant.sku}
  -#!= data_pair(:order) {asn_shipment_detail.order.number}
  %table
    %thead
      %tr
        %th #{t 'quantity_canceled'}
        %th #{t 'quantity_predicted'}
        %th #{t 'quantity_shipped'}
        %th #{t 'quantity_slashed'}
    %tbody
      %tr
        %td #{asn_shipment_detail.quantity_canceled}
        %td #{asn_shipment_detail.quantity_predicted}
        %td #{asn_shipment_detail.quantity_shipped}
        %td #{asn_shipment_detail.quantity_slashed}
  
  %table 
    %thead
      %tr
        %th #{t 'ssl'}
        %th #{t 'scac'}
        %th #{t 'weight'}
    %tbody
      %tr
        %td #{asn_shipment_detail.ssl}
        %td #{asn_shipment_detail.standard_carrier_address_code}
        %td #{asn_shipment_detail.weight}