<h1><%= t(:affiliate_key) %></h1>

<table>
  <tr data-hook="affiliate_logo">
    <th><%= t('affiliate.logo') %></th>
    <td>
      <%= image_tag @affiliate.logo.url %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @user, :class => 'edit_user' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>
