%h3 #{t("#{type}_files")}
%table
  %thead
    %tr
      %th
        = t 'file_name'
      %th
        = t 'imported_at'
  %tbody
  - for import_file in @order.send("#{type}_files".to_sym) do
    %tr
      %td
        = link_to import_file.file_name, send("admin_fulfillment_#{type}_file_path".to_sym, import_file)
      %td
        = import_file.created_at.strftime("%m/%d/%y %H:%M")
