<h2><%= t(:product_type) %></h2>
<%= f.select :ingram_product_type, options_for_select(@types_array, @product.ingram_product_type), {:include_blank => true} %>
<br /><br />
<h2><%= t(:availability_status) %></h2>
<%= f.select :availability_status, options_for_select(@available_array, @product.availability_status), {:include_blank => true} %>
<br /><br />
<h2><%= t(:publisher_status) %></h2>
<%= f.select :publisher_status, options_for_select(@status_array, @product.publisher_status), {:include_blank => true} %>
<br /><br />
<h2><%= t(:last_updated) %></h2>
<%= @product.ingram_updated_at %>
