<div id="admin-user">
<h1><%= t(:user_account) %></h1>

<table>
  <tr data-hook="email">
    <th><%= t(:email) %></th>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr data-hook="roles">
    <th><%= t(:roles) %></th>
    <td>
      <%= list_roles(@user) %>
    </td>
  </tr>

  <tr data-hook="affiliate">
    <th><%= t :affiliate_key %></th>
    <td>
      <%=  render :partial => 'affiliate_key' %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @user, :class => 'edit_user' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>
</div>