<% @body_id = 'show-order' %>

<%= content_for :banner do %>
  <h1><span class="faint"><%= t :order_details %>:</span> <span class="highlight"><%= t :status_complete %></span></h1>
<% end %>

<div id="order-details">
  <div id="order-header">
    <div class="field-pair order-number">
      <label><%= t :order_num %>:</label>
      <div class="value">
        <%= @order.number %>
      </div>
    </div>  
    
    <div class="field-pair order-date">
      <label><%= t :date %>:</label>
      <div class="value">
        <%= @order.completed_at.strftime("%d/%m/%y %I:%M%p") %>
      </div>
    </div>  
    
    <div class="field-pair order-state">
      <label><%= t :status %>:</label>
      <div class="value">
        <%= @order.state.upcase %>
      </div>
    </div>  
    
  </div>
  
  <%= render "overrides/shared/order" %>
</div>

