= render :partial => 'admin/shared/fulfillment_sub_menu'

%div.admin_buttons
  %div #{button_link_to t('back'), send("admin_fulfillment_#{type}_files_path".to_sym), :icon => '16x16/8'}

#import_file
  %h1 #{t "#{type}_files"}
  
  .header.data_group
    %h2 #{import_file.file_name}
    .collapseable
      != data_pair(:file_path) { import_file.path}    
      != data_pair(:created_at) { import_file.created_at.strftime("%m-%d-%y %H:%M")}
      - if import_file.imported_at
        != data_pair(:imported_at) { import_file.imported_at.strftime("%m-%d-%y %H:%M")}
      - else
        = form_tag(send("import_admin_fulfillment_#{type}_file_path".to_sym, import_file)) do |f|
          %div
            = button t('import_now'), 'add'

  - if defined? file_details
    #file_details{:class => 'data_group'}
      = render file_details, :import_file => import_file

  #parsed{:class => 'data_group'}
    %h2 #{t 'parsed'}
    .collapseable    
      %pre #{import_file.parsed.to_yaml}

  #contents{:class => 'data_group'}    
    %h2 #{t 'contents'}
    .collapseable
      %div.contents
      - if import_file.data
        %pre #{import_file.data}
      - else
        &mdash;
      
- content_for :sidebar do
  .box
    %h3
      #{import_file.orders.count} #{t 'orders'}
    %table
      %thead
        %tr
          %th #{t 'id'}
          %th #{t 'completed_date'}
      %tbody
      - for order in import_file.orders do
        %tr
          %td
            = link_to order.number, admin_order_path(order)
          %td
            = order.completed_at.strftime("%m-%d-%y") if order.completed_at
  
